{% extends "common/layout.html" %}
{% block body %}
    {% if not request.is_archived %}
    <h2>Request</h2>
    <div class="row">
        <div class="col-sm-4">
            <div>Launched by: {{ request.user.name }}</div>
            <div>Launch time : {{ request.start_date.strftime('%Y-%m-%d %H:%M:%S') }}</div>
            <div>Status: {{ request.status }}</div>
        </div>
        <div class="col-sm-4">
            <div>
                <a href="{{ url_for('requests_get.download_original_password_file', request_id=request.id) }}">Hashes</a>
                {% if request.hashed_file_contains_usernames %}(contains usernames){% endif %}
            </div>
            <div>
                Hashes type: {{ request.hashes_type_label }}
            </div>
            <div>
                Dictionaries: {% for d in request.dictionary_paths %}{{ d }}, {% endfor %}
            </div>
            {% if request.has_mask %}
            <div>
                <a href="{{ url_for('requests_get.download_mask_file', request_id=request.id) }}"
                             class="card-link">Mask
                          </a>

            </div>
            {% endif %}
        </div>
        <div class="col-sm-4">
            <div>Nb passwords found: {{ request.nb_password_found }}/{{ request.nb_password_to_find }} ({{ request.password_progress }}%)</div>
            <div>
                <a href="{{ url_for('requests_get.download_output_file', request_id=request.id) }}">Output</a>
            </div>
            {% if not request.is_finished() %}
            <div>
                <form action="{{ url_for('requests_post.kill_all_cracks_in_request', request_id=request.id) }}" method="POST">
                    <button type="submit" class="btn btn-danger">Cancel all cracks</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    <h2>Cracks</h2>
    <div class="row">
    {% for crack in request.cracks %}
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{ crack.name }}</h5>
                {% if crack.start_date %}
                <h6 class="card-subtitle mb-2 text-muted">{{ crack.nb_password_found }} password found.</h6>
                <p>Start : {{ crack.start_date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                {% if crack.end_date %}
                    <p>End: {{ crack.end_date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                    <p>End status: {{ crack.end_status_mode }}</p>
                {% else %}
                    <p>Status: running {% if current_user.is_admin %} on {{ crack.process_id }}{% endif %}</p>
                    <a href="{{ url_for('cracks_get.download_crack_potfile', crack_id=crack.id) }}"
                         class="card-link">Potfile
                      </a><br />
                    <div>
                        <form action="{{ url_for('cracks_post.kill_crack', crack_id=crack.id) }}" method="POST">
                            <button type="submit" class="btn btn-danger">Cancel crack</button>
                        </form>
                    </div>
                {% endif %}

                {% if current_user.is_admin %}
                <p class="card-text">{{ crack.cmd }}</p>
                {% endif %}

                  {% if  crack.end_date %}
                      <a href="{{ url_for('cracks_get.download_crack_outfile', crack_id=crack.id) }}"
                         class="card-link">Output
                      </a><br />

                      <a href="{{ url_for('cracks_get.download_crack_cmd_outfile', crack_id=crack.id) }}"
                         class="card-link">Hashcat output
                      </a><br />
                      <a href="{{ url_for('cracks_get.download_crack_cmd_errfile', crack_id=crack.id) }}"
                         class="card-link">Hashcat errors
                      </a>

                  {% endif %}
                {% else %}
                    <p>Not started</p>
                {% endif %}
              </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% endif %}
{% endblock %}