{% extends "common/layout.html" %}
{% block body %}

    <div class="list-group">


    {% for request in user_requests %}
        <a href="{{url_for('requests_get.get_unique_request', request_id=request.id)}}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ request.name }} ({{ request.id }})</h5>
              <small
                  {% if request.end_mode %}
                    style="color:green">{{ close_modes[request.end_mode] }}
                  {% else %}
                      style="color:orange">In progress
                  {% endif %}
              </small>
            </div>
            <ul class="mb-1">
                <li>Launched on {{ request.start_date.strftime('%Y-%m-%d %H:%M:%S') }}
                {% if request.end_date %}
                    , ended on {{ request.end_date.strftime('%Y-%m-%d %H:%M:%S') }}
                {% endif %}
                </li>
            </ul>
        <div class="progress">
          <div
                  class="progress-bar progress-bar-striped"
                  role="progressbar"
                  style="width: {{ request.password_progress }}%; color:#000;"
                  aria-valuenow="{{ request.password_progress }}"
                  aria-valuemin="0"
                  aria-valuemax="100">
                    Passwords found: {{ (request.nb_password_found / request.nb_password_to_find *100)|round(2) }} %
          </div>
        </div>
        <p></p>
        <div class="progress">
          <div
                  class="progress-bar progress-bar-striped"
                  role="progressbar"
                  style="width: {{ request.cracks_progress }}%; color:#000;"
                  aria-valuenow="{{ request.cracks_progress }}"
                  aria-valuemin="0"
                  aria-valuemax="100">
                    Cracks: {{ request.cracks_progress }} %
          </div>
        </div>
        </a>
    {% endfor %}
    </div>
{% endblock %}