{% extends "common/layout.html" %}
{% block extra_js %}
    <script language="javascript">
function UpdateHashExample()
{
    // declare and populate hash_list
    var hashes_list = {};
    {% for h in hashes_list %}
        hashes_list[{{ h["code"] }}] = "{{ h["example"] }}";
    {% endfor %}

    // update value of #hash_example with example
    $("#hash_example").text(hashes_list[$("#hash_type  option:selected").val()]);
}


</script>
{% endblock %}
{% block body %}
<form method="POST" action="{{ url_for("requests_post.add_new_crack_request") }}" enctype="multipart/form-data">
    {{ form.csrf_token }}

    {% if not confirmation %}
        {{ form.submit_btn(class_="btn btn-primary") }}
    {% else %}
        {{ form.confirm_btn(class_="btn btn-primary") }}
        <a class="btn btn-primary" href="{{ url_for("requests_post.add_new_crack_request") }}" role="button">Cancel</a>
    {% endif %}

    <div class="form-group">
        {{ form.request_name.label}}
        {{ form.request_name(class_="form-control", readonly=confirmation) }}
    </div><!-- //form-group -->
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active"
       id="nav-input-tab"
       data-toggle="tab"
       href="#nav-input"
       role="tab"
       aria-controls="nav-input"
       aria-selected="true">Hashes
    </a>
    <a class="nav-item nav-link"
       id="nav-main-tab"
       data-toggle="tab"
       href="#nav-main"
       role="tab"
       aria-controls="nav-main"
       aria-selected="false">Attack</a>
    <a class="nav-item nav-link"
       id="nav-options-tab"
       data-toggle="tab"
       href="#nav-options"
       role="tab"
       aria-controls="nav-options"
       aria-selected="false">Options</a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <!-- INPUT -->
  <div class="tab-pane fade show active" id="nav-input" role="tabpanel" aria-labelledby="nav-input-tab">

      <div class="form-group">
        {{ form.hashes.label}}
        {{ form.hashes(class_="form-control", readonly=confirmation) }}
      </div><!-- //form-group -->

      {% if not confirmation %}
      <div class="form-group">
            {{ form.hashes_file.label}}
            {{ form.hashes_file(class_="form-control-file", readonly=confirmation)}}
            <small class="form-text text-muted">txt extension only and the maximum supported size is {{ max_len/(1024*1024) }} MB</small>
      </div><!-- //form-group -->
      {% endif %}

      <div class="form-group">
        {{ form.hashed_file_contains_usernames(class_="form-control", readonly=confirmation) }}
        {{ form.hashed_file_contains_usernames.label }}

        <small class="form-text text-muted">"In this case, usernames have to be separated from hashes by {{ separator }}.
                 For example, a compliant input if the box it ticked is: user{{ separator }}hash"</small>
      </div> <!-- //form-group -->

      <div class="form-group">
        {{ form.hash_type.label }}
        {{ form.hash_type(class_="form-control", readonly=confirmation) }}
        <p>
        Example: <span class="hash_example" id="hash_example">&lt;Select hash type in the drop-down box&gt;</span>
        </p>

        <div class="media">
          <i class="fas fa-question-circle align-self-center mr-2"></i>
          <div class="media-body">
            <a href="{{ url_for('hashes_get.identify_hash') }}" target="_blank"> Hash type identification assistant </a>
          </div>
        </div><!-- //media -->
       </div><!-- //form-group -->
  </div>

  <!-- ATTACK -->
  <div class="tab-pane fade" id="nav-main" role="tabpanel" aria-labelledby="nav-main">
      <h3>Dictionaries</h3>

      {% for cb in wordlist_files_list %}
            <div class="form-group">
                <input
                        type="checkbox"
                        name="{{ cb['name'] }}"
                        value="{{ cb['value'] }}"
                        {{ "checked" if cb["checked"] else "" }}
                        {{ "readonly" if confirmation else "" }}
                />
                {{ cb['label'] }}
            </div>
        {% endfor %}

      <div class="form-group">
        {{ form.keywords.label}}
        {{ form.keywords(class_="form-control", readonly=confirmation) }}
      </div><!-- //form-group -->

      {% if not confirmation %}
      <div class="form-group">
        {{ form.keywords_file.label}}
        {{ form.keywords_file(class_="form-control-file", readonly=confirmation) }}
      </div><!-- //form-group -->
      {% endif %}

      <h3>Mask</h3>
      <div class="form-group">
        {{ form.mask.label}}
        {{ form.mask(class_="form-control", readonly=confirmation) }}
          <small class="form-text text-muted">
              Expected mask format &laquo;&nbsp;<code>?u?l?l?l?l?d?s?a</code>&nbsp;&raquo;, or :
              <ul>
                  <li><code>?u</code> = ABCDEFGHIJKLMNOPQRSTUVWXYZ</li>
                  <li><code>?l</code> = abcdefghijklmnopqrstuvwxyz</li>
                  <li><code>?d</code> = 0123456789</li>
                  <li><code>?s</code> = «space»!"#$%&'()*+,-./:;&lt;=&gt;?@[\]^_`{|}~</li>
                  <li><code>?a</code> = <code>?l?u?d?s</code> (All character type)</li>
              </ul>
            </small>
      </div><!-- //form-group -->

      <h3>Brute Force</h3>
      <div class="form-group">
            {{ form.bruteforce(class_="attack_mode", readonly=confirmation) }}
            {{ form.bruteforce.label }}
      </div>

      <h3>Rules</h3>
        {% for cb in rules_files_list %}
                <div class="form-group">
                    <input
                            type="checkbox"
                            name="{{ cb['name'] }}"
                            value="{{ cb['value'] }}"
                            {{ "checked" if cb["checked"] else "" }}
                            {{ "readonly" if confirmation else "" }}
                    />
                    {{ cb['label'] }}
                </div>
        {% endfor %}


      <h3>Duration</h3>
      <div class="form-group">
        {{ form.duration.label}}
        {{ form.duration(class_="form-control", readonly=confirmation) }}
      </div>


  </div>

  <!-- OPTIONS -->
  <div class="tab-pane fade" id="nav-options" role="tabpanel" aria-labelledby="nav-options">
      No extra option available.
  </div>

</form>
{% endblock %}