{% extends "common/layout.html" %}
{% block body %}
<script language="javascript">
function UpdateHashExample()
{
    // declare and populate hash_list
    var hashes_list = {};
    {% for h in hashes_list %}
        hashes_list[{{ h["code"] }}] = "{{ h["example"] }}";
    {% endfor %}

    // update value of #hash_example with example
    $("#hash_example").text(hashes_list[$("#hash_type  option:selected").val()]);
}

function collapseAttackModeDetails(){
    console.log("update collapse")
    // get new value
    if ($("#attack_mode_keywords_cb").prop("checked")) {
        console.log("keywords is checked")
        $("#attack_mode_keywords_details").show();
    }
    else {
        console.log("keywords is not checked")
        $("#attack_mode_keywords_details").hide();
    }

    if ($("#attack_mode_dict_classic_cb").prop("checked")) {
        $("#attack_mode_dict_classic_details").show();
    }
    else {
        $("#attack_mode_dict_classic_details").hide();
    }

    if ($("#attack_mode_dict_variations_cb").prop("checked")) {
        $("#attack_mode_dict_variations_details").show();
    }
    else {
        $("#attack_mode_dict_variations_details").hide();
    }

    if ($("#attack_mode_mask_cb").prop("checked")) {
        $("#attack_mode_mask_details").show();
    }
    else {
        $("#attack_mode_mask_details").hide();
    }

}

$(document).ready(function () {
    collapseAttackModeDetails()

    $("input[type=checkbox][class='attack_mode']").change(function(){
        collapseAttackModeDetails()
    });
});

</script>


<form method="POST" action="{{ url_for("cracks_post.add_new_crack") }}" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <h2>Hash(es) options</h2>

    <div class="form-group">
        {{ form.hashes.label}}
        {{ form.hashes(class_="form-control") }}
    </div>

    <div class="form-group">
        {{ form.hashes_file.label}}
        {{ form.hashes_file(class_="form-control-file")}}
        <small class="form-text text-muted">txt extension only and the maximum supported size is {{ max_len/(1024*1024) }} MB</small>
    </div>

    <div class="form-group">
        {{ form.hashed_file_contains_usernames() }}
        {{ form.hashed_file_contains_usernames.label }}

        <small class="form-text text-muted">"In this case, usernames have to be separated from hashes by {{ separator }}.
                 For example, a compliant input if the box it ticked is: user{{ separator }}hash"</small>
    </div>

    <div class="form-group">
        {{ form.hash_type.label }}
        {{ form.hash_type(class_="form-control") }}
        <p>
        Example: <span class="hash_example" id="hash_example">&lt;Select hash type in the drop-down box&gt;</span>
        </p>
        <div class="identify">
              <img src="{{ url_for('static', filename='img/question-mark.png') }}">
              <a href="{{ url_for('hashes_get.identify_hash') }}" target="_blank"> Hash type identification assistant </a>
          </div><!-- // identify -->
    </div>

    <h2>Select one or more attack modes</h2>

    <div class="card">
      <div class="card-header">
        <div class="form-group">
            <input
                    id="attack_mode_keywords_cb"
                    name="attack_mode_keywords"
                    class="attack_mode"
                    type="checkbox"
                    value="1">
            <label for="attack_mode_keywords">Keywords</label>
        </div>
      </div>
      <div class="card-body" id="attack_mode_keywords_details">
        <div class="form-group">
            {{ form.keywords.label}}
            {{ form.keywords(class_="form-control") }}
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <div class="form-group">
            <input
                    id="attack_mode_dict_classic_cb"
                    name="attack_mode_dict_classic"
                    class="attack_mode"
                    type="checkbox"
                    value="1">
            <label for="attack_mode_keywords">Classic dictionnary</label>
        </div>
      </div>
      <div class="card-body" id="attack_mode_dict_classic_details">
        {% for wf in wordlist_files %}
            <div class="form-group">
                {{ wordlist_cb.wordlist_file(value=wf) }} {{ wf }}
            </div>
        {% endfor %}
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <div class="form-group">
            <input
                    id="attack_mode_dict_variations_cb"
                    name="attack_mode_dict_variations"
                    class="attack_mode"
                    type="checkbox"
                    value="1">
            <label for="attack_mode_variations">Dictionnary with variations</label>
        </div>
      </div>
      <div class="card-body" id="attack_mode_dict_variations_details">
        {% for wf in wordlist_files %}
            <div class="form-group">
                {{ wordlist_cb.wordlist_file(value="rule_"+wf) }} {{ wf }}
            </div>
        {% endfor %}
      </div>
    </div>


    <div class="card">
      <div class="card-header">
        <div class="form-group">
            <input
                    id="attack_mode_mask_cb"
                    name="attack_mode_mask"
                    class="attack_mode"
                    type="checkbox"
                    value="1">
            <label for="attack_mode_variations">Mask</label>
        </div>
      </div>
      <div class="card-body" id="attack_mode_mask_details">
        <div class="form-group">
            {{ form.mask.label}}
            {{ form.mask(class_="form-control") }}
            <small class="form-text text-muted">
              Expected mask format &laquo;&nbsp;<code>?u?l?l?l?l?d?s?a</code>&nbsp;&raquo;, or :
              <ul>
                  <li><code>?u</code> = ABCDEFGHIJKLMNOPQRSTUVWXYZ</li>
                  <li><code>?l</code> = abcdefghijklmnopqrstuvwxyz</li>
                  <li><code>?d</code> = 0123456789</li>
                  <li><code>?s</code> = «space»!"#$%&'()*+,-./:;&lt;=&gt;?@[\]^_`{|}~</li>
                  <li><code>?a</code> = <code>?l?u?d?s</code> (All character type)</li>
              </ul>
            </small>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <div class="form-group">
            <input
                    id="attack_mode_bruteforce_cb"
                    name="attack_mode_bruteforce"
                    class="attack_mode"
                    type="checkbox"
                    value="1">
            <label for="attack_mode_bruteforce">Bruteforce</label>
        </div>
      </div>
    </div>


    <div class="form-group">
        {{ form.duration.label}}
        {{ form.duration(class_="form-control") }}
    </div>


    {{ form.submit_btn(class_="btn btn-primary") }}
</form>
{% endblock %}