{% extends "common/layout.html" %}
{% block body %}
<script language="javascript">
function UpdateHashExample()
{
    // declare and populate hash_list
    var hashes_list = {};
    {% for h in hashes_list %}
        hashes_list[{{ h["code"] }}] = "{{ h["example"] }}";
    {% endfor %}

    // update value of #hash_example with example
    $("#hash_example").text(hashes_list[$("#hash_type  option:selected").val()]);
}

$(document).ready(function () {
    $("#wordlist_files").hide();
    $("#mask").hide();

    $("input[type=radio][name='wordlist_attack_type']").change(function () {
        // hide all
        $("#wordlist_files").hide();
        $("#mask").hide();
        var current_value =  $("input[type=radio][name='wordlist_attack_type']:checked").val();
        console.log("New value is "+current_value)
        if (current_value == 0 || current_value == 1)
            $("#wordlist_files").show();
        else
            $("#mask").show();

    });
});

</script>
<form method="POST" action="{{ url_for("cracks_post.add_new_crack") }}" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <h2>Hash(es) options</h2>

    <div class="form-group">
        {{ form.hashes.label}}
        {{ form.hashes(class_="form-control") }}
    </div>

    <div class="form-group">
        {{ form.hashes_file.label}}
        {{ form.hashes_file(class_="form-control-file")}}
        <small class="form-text text-muted">txt extension only and the maximum supported size is {{ max_len/(1024*1024) }} MB</small>
    </div>

    <div class="form-group">
        {{ form.hashed_file_contains_usernames() }}
        {{ form.hashed_file_contains_usernames.label }}

        <small class="form-text text-muted">"In this case, usernames have to be separated from hashes by {{ separator }}.
                 For example, a compliant input if the box it ticked is: user{{ separator }}hash"</small>
    </div>

    <div class="form-group">
        {{ form.hash_type.label }}
        {{ form.hash_type(class_="form-control") }}
        <p>
        Example: <span class="hash_example" id="hash_example">&lt;Select hash type in the drop-down box&gt;</span>
        </p>
        <div class="identify">
              <img src="{{ url_for('static', filename='img/question-mark.png') }}">
              <a href="{{ url_for('hashes_get.identify_hash') }}" target="_blank"> Hash type identification assistant </a>
          </div><!-- // identify -->
    </div>

    <h2>Select one or more attack modes</h2>
    <h3>Keywords</h3>
    <div class="form-group">
        {{ form.keywords() }}
        {{ form.keywords.label}}
    </div>

    <div class="form-group">
        {{ form.chosen_keywords.label}}
        {{ form.chosen_keywords(class_="form-control") }}
    </div>

    <h3>Word lists</h3>
    {% for subfield in form.wordlist_attack_type %}
        <div class="form-group">
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </div>
    {% endfor %}

    <div id="wordlist_files">
        {% for wf in wordlist_files %}
            <div class="form-group">
                {{ wordlist_cb.wordlist_file(value=wf) }} {{ wf }}
            </div>
        {% endfor %}
    </div>

    <div id="mask">
        <div class="form-group">
            {{ form.mask.label}}
            {{ form.mask(class_="form-control") }}
            <small class="form-text text-muted">
              Expected mask format &laquo;&nbsp;<code>?u?l?l?l?l?d?s?a</code>&nbsp;&raquo;, or :
              <ul>
                  <li><code>?u</code> = ABCDEFGHIJKLMNOPQRSTUVWXYZ</li>
                  <li><code>?l</code> = abcdefghijklmnopqrstuvwxyz</li>
                  <li><code>?d</code> = 0123456789</li>
                  <li><code>?s</code> = «space»!"#$%&'()*+,-./:;&lt;=&gt;?@[\]^_`{|}~</li>
                  <li><code>?a</code> = <code>?l?u?d?s</code> (All character type)</li>
              </ul>
            </small>
        </div>
    </div>


    <div class="form-group">
        {{ form.bruteforce() }}
        {{ form.bruteforce.label}}
    </div>

    <div class="form-group">
        {{ form.duration.label}}
        {{ form.duration(class_="form-control") }}
    </div>


    {{ form.submit_btn(class_="btn btn-primary") }}
</form>
{% endblock %}