{% extends "common/layout.html" %}
{% block body %}
<script language="javascript">
function UpdateHashExample()
{
    // declare and populate hash_list
    var hashes_list = {};
    {% for h in hashes_list %}
        hashes_list[{{ h["code"] }}] = "{{ h["example"] }}";
    {% endfor %}

    // update value of #hash_example with example
    $("#hash_example").text(hashes_list[$("#hash_type  option:selected").val()]);
}

function markContent(classe) {
    if (document.getElementById(classe).className == "opacity") {
        var inputList = document.getElementsByClassName(classe + "-display")[0].getElementsByTagName("input");
        for (var i = 0; i < inputList.length; i++) {
            if (inputList[i].type == 'checkbox')
                inputList[i].checked = false;
        }
        document.getElementById(classe).className = ""
    } else {
        var inputList = document.getElementsByClassName(classe + "-display")[0].getElementsByTagName("input");
        for (var i = 0; i < inputList.length; i++) {
            if (inputList[i].type == 'checkbox')
                inputList[i].checked = true;
        }
        document.getElementById(classe).className = "opacity"
    }
}
</script>
<form method="POST" action="{{ url_for("cracks_post.validate_new_crack") }}" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <h2>Hash(es) options</h2>

    <div class="form-group">
        {{ form.hashes.label}}
        {{ form.hashes(class_="form-control") }}
    </div>

    <div class="form-group">
        {{ form.hashes_file.label}}
        {{ form.hashes_file(class_="form-control-file")}}
        <small class="form-text text-muted">txt extension only and the maximum supported size is {{ max_len/(1024*1024) }} MB</small>
    </div>

    <div class="form-group">
        {{ form.hashed_file_contains_usernames() }}
        {{ form.hashed_file_contains_usernames.label }}

        <small class="form-text text-muted">"In this case, usernames have to be separated from hashes by {{ separator }}.
                 For example, a compliant input if the box it ticked is: user{{ separator }}hash"</small>
    </div>

    <div class="form-group">
        {{ form.hash_type.label }}
        {{ form.hash_type(class_="form-control") }}
        <p>
        Example: <span class="hash_example" id="hash_example">&lt;Select hash type in the drop-down box&gt;</span>
        </p>
        <div class="identify">
              <img src="{{ url_for('static', filename='img/question-mark.png') }}">
              <a href="{{ url_for('hashes_get.identify_hash') }}" target="_blank"> Hash type identification assistant </a>
          </div><!-- // identify -->
    </div>

    <h2>Select one or more attack modes</h2>
     <div class="form-group">

        {{ form.keywords() }}
         {{ form.keywords.label}}
    </div>
    <input type="submit" value="Go">
</form>
{% endblock %}